<h1>Listing current_events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @current_events.each do |current_event| %>
  <tr>
    <td><%= current_event.title %></td>
    <td><%= current_event.body %></td>
    <td><%= link_to 'Show', current_event %></td>
    <td><%= link_to 'Edit', edit_current_event_path(current_event) %></td>
    <td><%= link_to 'Destroy', current_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Current event', new_current_event_path %>
