<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @current_event.title %>
</p>

<p>
  <b>Body:</b>
  <%= @current_event.body %>
</p>


<%= link_to 'Edit', edit_current_event_path(@current_event) %> |
<%= link_to 'Back', current_events_path %>
