<p id="notice"><%= notice %></p>
	<h1><%= @recipe.title%></h1>
	<div class="col-xs-12 video"><%= videoConversion(@recipe.video).html_safe %></div>
	<%= image_tag @recipe.image_url(:thumb).to_s%>
	<%= @recipe.description %>
	<%= @recipe.prep_time %>
	<%= @recipe.missed_time %>
	<%= @recipe.total_time %>
	<h2>List of Ingredients </h2>
	<% @recipe.ingredients.each do |ingredient| %>
		<ul>
			<li><%= ingredient.name %> include the measures </li>
		</ul>
	<% end%>
	<% @recipe.steps.each do |step|%>
		<p> Step <%= step.step_no %> </p>
		<p><%= step.description %></p>
		<p><%= image_tag step.image_url(:thumb).to_s%></p>
		<%= link_to  "Add New Ingredient to Step", new_step_ingredient_path(step)%><br />
	<% end %>
	<%= link_to 'New Step', new_recipe_step_path(@recipe)%><br />
	<%= link_to 'Edit', edit_recipe_path(@recipe) %>	|
    <%= button_to "destroy", @recipe, :method => :delete %>  |
	<%= link_to 'Back', recipes_path %>

